/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background: var(--background);
  background-color: var(--page-background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
  /* font-weight: 700; */
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
.header {
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: var(--margin-block);
}

.header__theme-menu-button {
  text-align: center;
  font-size: 18px;
  padding: 3px 13px;
  /* font-family: var(--font-family); */
  border: 1px solid transparent;
  background-color: transparent;
  line-height: 100%;
  color: var(--text-color);
  cursor: pointer;
  text-transform: lowercase;
}
.header__theme-menu-button_active {
  border-color: var(--button-border-color);
  pointer-events: none;
}

.text_decoration {
  /* color: #FFC2E6; */
  /* text-shadow: 4px 4px 0px #FF0070; */
  /* font-family: IBM Plex Mono; */
  /* font-style: normal; */
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--header-color);
  line-height: 82.5%;
}
/* .text_decoration {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-color);
  line-height: 82.5%;
} */

.decorated-zone {
  display: grid;
  padding: var(--padding);
  inline-size: 100%;
  min-block-size: 100vh;
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
}

.decorated-zone::before {
  inset-block-start: var(--padding);
  inset-inline-end: var(--padding);
  border-block-start: 1px solid var(--text-color);
  border-inline-end: 1px solid var(--text-color);
}

.decorated-zone::after {
  inset-block-end: var(--padding);
  inset-inline-start: var(--padding);
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
}
.header_1 {
  justify-self: flex-start;
  align-self: flex-start;
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-inline-start: calc(var(--padding) * -1);
}
.header__text {
  /* color: #353430; */
  /* margin-left: 50%; */
  /* background-color: aqua; */
  justify-self: flex-end;
  /* width: 50%; */
  /* font-family: IBM Plex Mono; */
  /* margin-block-start: 40px; */
  font-size: 18px;
  max-inline-size: 491px;
  /* background-color: var(--accent-color); */
  font-style: normal;
  font-weight: 700;
  align-self: center;
  /* line-height: 130%; */
  /* color: var(--accent-text); */
}
.header__theme-menu {
  align-self: flex-start;
  justify-self: center;
}
.header__theme-menu-list {
  display: flex;
  /* justify-content: center; */
  /* list-style: none; */
  gap: 10px;
  flex-direction: row;
  /* flex-direction: column; */
}
.header__decoration {
  color: var(--text-color);
  background-color: var(--accent-color);
}
.decorated-text {
  position: absolute;
  color: var(--accent-color);
  font-size: inherit;
  line-height: 139%;
  display: none;
  gap: 10px;
  align-items: center;
  inset-inline-end: calc(var(--padding) + 9px);
  inset-block-start: var(--padding);
}
.block {
  padding-inline: var(--padding);
}
.block:not(:last-child) {
  margin-block-end: var(--content-margin);
}
.conteiner {
  display: grid;
  gap: 20px;
}

.section-title {
  color: var(--text-color);
  /* font-family: IBM Plex Mono; */
  font-size: inherit;
  /* background-color: #ff8dcb; */
  line-height: inherit;
  margin-block-end: 10px;
}

.column {
  grid-template-columns: fit-content(315px) 1fr;
}
.section_header {
  /* display: flex; */
  /* flex-wrap: wrap; */
  font-size: inherit;
  color: var(--text-color);
  /* font-weight: inherit; */
  /* font-family: inherit; */
  /* width: calc(1 / 3 * 100%); */
  /* background-color: aqua; */
}
.section__list {
  display: grid;
}
.section__list-item-header {
  margin-block-end: 10px;
  font-size: inherit;
}
/* header {
  background: url(/images/cover-image-light.png);
} */
.section-2,
.section-2_list {
  grid-template-columns: repeat(3, 1fr);
}
.section-2,
.section_header {
  inline-size: 315px;
}

.section_list-header {
  font-size: inherit;
  /* align-self: stretch; */
  /* line-height: inherit; */
}
.section__list-item__photo {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}
.image_width {
  grid-column: span 2;
}
.image_length {
  grid-row: span 2;
}
.photo-conteiner,
.images {
  gap: var(--padding);
}

.footer__text {
  text-align: center;
  text-shadow: var(--shadow-color);
  /* color: #FFC2E6; */
  /* text-shadow: 2px 2px 0px #FF0070; */
  /* font-family: IBM Plex Mono; */
  /* font-size: 157px; */
  /* font-style: normal; */
  /* font-weight: 700; */
  /* line-height: 129.525px; */
}
.footer {
  align-content: center;
  justify-content: center;
  /* margin-block-start: var(--margin-block); */
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  /* gap: 20px; */
}
.images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .image_1 {
  grid-row: 1/2;
  grid-column: 1/3;
   background-color: aqua; 
} */
/* .image_2 {
  grid-row: 1/3;
  grid-column: 3/4;
} */
/* .image_3 {
  grid-row: 2/4;
  grid-column: 1/2;
} */
/* .image_4 {
  grid-row: 2/3;
  grid-column: 2/3;
} */
/* .image_5 {
  grid-row: 3/4;
  grid-column: 2/4;
} */
.decorated-text::before {
  content: "REC";
}

.decorated-text::after {
  content: "";
  box-shadow: 0px 0px 4px 2px currentColor;
  inline-size: 9px;
  block-size: 9px;
  background-color: currentColor;
  border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .column {
    grid-template-columns: fit-content(236px) 1fr;
  }
}
@media (width <1024px) {
  .header__theme-menu-list {
    flex-direction: column;
  }
  .header__theme-menu {
    align-self: center;
    justify-self: flex-end;
  }
  .header__text {
    max-inline-size: 50%;
  }
  .section-2,
  .section_header {
    inline-size: 236px;
  }
  .column {
    grid-template-columns: fit-content(236px) 1fr;
  }
  .section-2,
  .section-2_list {
    grid-template-columns: none;
  }
}
@media (width < 768px) {
  .header_1 {
    margin-inline-start: var(--padding);
  }
  .text_decoration {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header__text {
    max-inline-size: 355px;
  }
  /* .conteiner {
  grid-template-columns: none;
} */
  .column {
    grid-template-columns: none;
  }
  .images {
    grid-template-columns: none;
  }
  .section-2,
  .section_header {
    inline-size: 355px;
  }
  .image_width {
    grid-column: auto;
  }
  .image_length {
    grid-row: auto;
  }
}
