/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-attachment: fixed;
  background: var(--background);
  font-family: 'IBM Plex mono', monospace;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
.header__theme-menu-button {
  text-align: center;
  font-size: 18px;
  padding: 3px 13px;
  font-family: var(--font-family);
  border: 1px solid transparent;
  background-color: transparent;
  line-height: 100%;
  color: var(--button-text);
  cursor: pointer;
  text-transform: lowercase;
}
.header__theme-menu-button_active {
  border-color: var(--button-border-color);

  pointer-events: none;
}
h1 {
  /* color: #FFC2E6; */
  /* text-shadow: 4px 4px 0px #FF0070; */
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 10.8974rem + -15.5624vw, 0.9375rem);
  font-style: normal;
  font-weight: 700;
  /* margin-top: ; */
}
.text_decoration {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-color);
  line-height: 82.5%; 

}
.header__text {
  /* color: #353430; */
  margin-left: 50%;
  /* background-color: aqua; */
  justify-self: end;
  width: 50%;
  font-family: IBM Plex Mono;
  /* margin-block-start: 40px; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--accent-text);
}
.header__theme-menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 36px;
}
.section_title {
  color: var(--text-color);
  
}
.section-1 {
  display: grid;
  grid-template-columns: auto 2fr;
  /* background-color: #ffc2e6; */
  /* flex-direction: column; */
}
.section-1__header {
  display: flex;
  flex-wrap: wrap;
  width: calc(1 / 3 * 100%);
}
.section-1__column {
  display: grid;
}
/* header {
  background: url(/images/cover-image-light.png);
} */
.section-2_card-list {
  list-style: none;
  /* display: flex; */
  /* padding-bottom: 30px; */
  justify-content: center;
  /* max-width: 1340px; */
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
}
.section-2_card-list-item {
  /* display: grid;
  grid-template-columns: auto 3fr;
  width: calc(1/3*100%);
  max-width: 315px; */
}
h3 {
  /* color: #353430; */
  font-family: IBM Plex Mono;
  font-size: 18px;
  background-color: #ff8dcb;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.section-2__text {
  /* display: flex; */
  /* align-items:center; */
}
.section-3 {
  display: grid;
  grid-template-columns: auto 2fr;
}
.section-3__header {
  max-width: 315px;
}
.footer__text {
  /* color: #FFC2E6; */
  /* text-shadow: 2px 2px 0px #FF0070; */
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 129.525px;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image_1 {
  grid-row: 1/2;
  grid-column: 1/3;
  /* background-color: aqua; */
}
.image_2 {
  grid-row: 1/3;
  grid-column: 3/4;
}
.image_3 {
  grid-row: 2/4;
  grid-column: 1/2;
}
.image_4 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.image_5 {
  grid-row: 3/4;
  grid-column: 2/4;
}

